# 4.6 Combining & Exporting Data

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [2]:
# Assign path variable
path = '/Users/mariamaske/Instacart Basket Analysis'

In [12]:
#Importing orders_checked.csv dataframe
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [11]:
#Importing products_checked.csv dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [13]:
#Importing orders_wrangled.csv dataframe
df_ords_wrangled = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [9]:
# Join path df_order_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','order_products__prior.csv'), index_col = False)

## Following along instructions

In [15]:
# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
df_ords_prior.shape

(32434489, 4)

In [17]:
df_ords.shape

(3421083, 6)

In [19]:
#Merge the two dataframes with 'order_id' as the key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [23]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Task Excercises

## Step 1: Merge the dataframes as per the Exercise Instructions

#### done

## Step 2  Export the merged file in pickle format

In [25]:
#Exporting merged file in pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## Step 3 In a new notebook, import the merged dataframe from the pickle file

In [26]:
#Check second notebook, '4.6 IC Combined Pickle Dataframe'

## Step 4 Check the shape of the imported data

In [27]:
#Check second notebook, '4.6 IC Combined Pickle Dataframe'

In [28]:
#Shape of df_merged_large dataframe
df_merged_large.shape

(32434489, 10)

## Step 5 Determine a suitable way to combine orders_products_combined dataframe with your products data set

In [29]:
#Check second notebook, '4.6 IC Combined Pickle Dataframe'

In [30]:
#Checking the shape of prducts_checked dataframe
df_prods.shape

(49672, 6)

## Step 6  Confirm the results of the merge using the merge flag

In [31]:
#Check second notebook, '4.6 IC Combined Pickle Dataframe'

## Step 7  Export the newly created dataframe

In [32]:
#Check second notebook, '4.6 IC Combined Pickle Dataframe'